/*set font-family, box-sizing and 
import font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*set font-family, box-sizing, margin and padding over page*/

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*position header, give it an absolute positioning,
set z-index to put header over video,
set flex and padding and width as wel as
color and case of text*/
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

header>.logo>img{
  border-radius:50%;
  border-collapse: separate;
  position: absolute;
  z-index: 10;
  bottom: 65px;
  display: flex;
  margin-right: 20px;
  filter: invert(0);
  transform: scale(1);
  transition: 0.5s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex:1;
}

/*set flexbox over showcase class,
give z-index of 2 to position over video,
align flex */
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

/*position video fullscreen give it opacity to 
allow text beneath to be seen if needed*/
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
/*set color overlay over video*/
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #AB92BF;
  mix-blend-mode: overlay;
}
/*text class styling rules*/
main>.text
{
  position: relative;
  z-index: 10;
}
h4::after{
  color:white;
}
main>.text> h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
/*styling horizontal rule*/
hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgb(0, 0, 0),rgba(0,0,0,75),rgba(0,0,0));
  
}

main>.text> h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
main>.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
main>.text h4,ol{
  color:white;
  text-transform: uppercase;
}

/*set flexbox layout and align content,
set z-index to make sure images 
are positioned over video*/
footer 
{
  position: absolute;
  z-index: 10;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#social .social {

  position: absolute;
  z-index: 10;
  bottom: 2px;
  right: 0px;
  left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  flex:1;
  text-align: left;
  width:25%;


}
#social .social li
{
  list-style: none;
  color:white;
}
#social .social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
/*make the buttons jump up when hovered over*/
 #social .social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}



/*resize the browser window when the width is 991px or less,the header and text are adjusted accordingly*/
@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
    text-align:left;
  }
  .text h3
  {
    font-size: 2em;
  }
}